@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #f6f8f9;
}

/* HEADER */

.main-header {
    background-color: #fff;
    padding: 10px 20px;
    font-size: 40px;
    font-weight: 700;
}

.logo {
    vertical-align: middle;
}

/* CARD */


.main-content {
    padding: 40px 20px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.card {
    background-color: #fff;
    border-radius: 8px;
}

.card__header,
.card__body {
    padding-inline: 50px;
}

/* CARD HEADER */

.card__header {
    padding-block: 20px 10px;
    border-bottom: 2px solid #f6f8f9;
}

.btn {
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 5px 10px;
    font-weight: 400;
    font-size: 12px;
}

.primary {
    background-color: #47adf1;
    color: #fff;
}

.secondary {
    background-color: transparent;
    color: #d2d7da;
    border: 1px solid #d2d7da;
}

/* CARD BODY */

.card__body {
    padding-block: 50px;
}

.task {
    margin-bottom: 30px;
}

.task:last-child {
    margin-bottom: 0;
}

.task__title {
    font-size: 20px;
    margin-bottom: 100px;
}

.task__item {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}

.task__item:last-child {
    margin-bottom: 0;
}

.task__list {
    padding-top: 15px;
}



.checked,
.unchecked {
    display: inline-block;
    width: 18px;
    aspect-ratio: 1 / 1;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid;
}

.checked {
    border-color: #66c0aa;
    color: #66c0aa;
}

.unchecked {
    border-color: #ef7d76;
    color: #ef7d76;
}


.category {
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    line-height: 24px;
    padding-inline: 10px;
    border-radius: 12px;
    color: #fff;
}

/* COLOR CATEGORY */

.blue {
    background-color: #45abea;
}

.darkblue {
    background-color: #9c72e4;
}

.pink {
    background-color: #64c0a9;
}

.orange {
    background-color: #f29e33;
}