@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f6f8f9;
}

/* HEADER */

.main-header {
    background-color: #fff;
    padding: 10px 20px;
    margin-bottom: 60px;
    font-size: 40px;
    font-weight: 700;
}

.logo {
    vertical-align: middle;
}

/* MAIN */

.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 6px;
}

/* BUTTONS */

.buttons {
    width: 100%;
    padding: 20px 50px 10px;
    border-bottom: 2px solid #f6f8f9;
}

.btn {
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 5px 10px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.primary {
    background-color: #47adf1;
    color: #fff;
}

.secondary {
    background-color: transparent;
    color: #d2d7da;
    border: 1px solid #d2d7da;
}

/* SSECTION TODO-LISTS */

.todo-lists {
    padding: 50px;
}

.tasks {
    margin-bottom: 40px;
}

.task-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.task-item {
    margin-bottom: 15px;
}

.arrow {
    width: 15px;
    vertical-align: middle;
}

.checked,
.unchecked {
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    margin-right: 15px;
}

.checked {
    border: 1px solid #66c0aa;
    color: #66c0aa;
}

.unchecked {
    border: 1px solid #ef7d76;
    color: #ef7d76;
}


.category {
    display: inline-block;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
}

/* COLOR CATEGORY */

.blue {
    background-color: #45abea;
}

.darkblue {
    background-color: #9c72e4;
}

.pink {
    background-color: #64c0a9;
}

.orange {
    background-color: #f29e33;
}